body{
    background-color: green;
    
}
#box1{ background: red;
width: 250px;
    height:300px;
    border: dotted;
    margin:10px;
}
#btn1{
    font-family:times new roman;
    background:green;
    color:blue;
}
#box2{ background: blue;
width: 250px;
    height:300px;
    border: solid;
    margin:5px;
    
    
}
#btn2{
    font-family:times new roman;
    background:orange;
    color:red;
}
#box3{ background: purple;
width: 100px;
    height:300px;
    border: none;
    margin:15px;}
